@-moz-document url-prefix("about:preferences") {
	.header-name {
		font-size: 1.5em !important;
		font-weight: 400 !important;
	}
	xul|caption xul|label {
		font-weight: 400 !important;
	    font-size: 20px !important;
	}
	.checkbox-icon {
		filter: invert(90%) !important;
	}
	hbox.button-box {
		margin-top: -2px !important;
	}
	.searchBarImage.searchBarShownImage, .searchBarHiddenImage {
		filter: invert(90%) hue-rotate(180deg);
	}
  /*//navigation//*/
  .navigation {
    background: #1f1f1f;
  }
  #categories {
    width: 320px !important;
  }
  @media (max-width: 1050px) {
    #categories {
      width: 52px !important;
    }
    #categories > scrollbox {
      overflow: hidden !important;
    }
    .category-icon + .category-name, .help-label {
      display: none;
    }
    #categories > .category, .help-button > .text-link {
      padding-inline-start: 13px !important;
      margin-inline-end: 33px !important;
    }
    .help-button > .text-link {
      width: 0px !important;
    }
    .main-content {
      padding-left: 28px !important;
    }
  }
  .category-icon {
    width: 16px !important;
    height: 16px !important;
    margin: 0 4px;
  }
  .category-name {
    font-weight: 500 !important;
  }
  #categories > .category, .help-button > .text-link {
    margin-inline-start: 0 !important;
    padding-inline-end: 14px;
    padding-inline-start: 14px;
  }
  #categories > .category:hover, #categories > .category[selected]:hover, #categories > .category.selected:hover, .help-button > .text-link:hover {
    background-color: #363636 !important;
		border-radius: 0 !important;
  }
  #categories > .category[selected]:hover:active, #categories > .category.selected:hover:active {
    background-color: #404040 !important;
    color: var(--in-content-category-text) !important;
  }
  #categories > .category[selected], #categories > .category.selected {
    color: var(--in-content-category-text) !important;
  }
  /*----------*/
}
