@import url(xulPages.css);
@import url(resource/icons.css);
@import url(resource/common.css);

#TabsToolbar {
    background-color: #303030 !important;
}
/*active tab*/
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"]:-moz-lwtheme {
    background: #111 !important;
    box-shadow: 0 4px 4px 0 black;
}
/*toolbar background*/
#navigator-toolbox > toolbar:not(#TabsToolbar):not(#toolbar-menubar), .browserContainer > findbar, #browser-bottombox {
    background-color: #111 !important;
}
/*tab height*/
#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox, #tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned]  {
    max-height: 34px !important;
}
:root[uidensity="compact"] #titlebar, :root[uidensity="compact"] #tabbrowser-tabs {
    --tab-min-height: 33px !important;
}
/*navbar height*/
#nav-bar {
    height: 42px !important;
}
/*url bar and search bar*/
#urlbar, .searchbar-textbox {
    height: 34px !important;
    border: 1px solid #484848 !important;
    border-radius: 0px !important;
    background: #303030 !important;
}
:root[uidensity="compact"] .urlbar-icon {
    width: 26px;
    height: 26px;
}
/*remove active tab line*/
#tabbrowser-tabs:-moz-lwtheme {
    --tab-line-color: #111 !important;
}
/*inactive tab hover*/
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]), #TabsToolbar[brighttext] > #tabbrowser-tabs > .tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-line:not([selected="true"]) {
    background-color: #606060 !important;
}
.tabbrowser-tab > .tab-stack > .tab-background:not([selected="true"]), #TabsToolbar[brighttext] > #tabbrowser-tabs > .tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-line:not([selected="true"]) {
    transition: background-color 0.2s !important;
}



/*menupopup {
	-moz-appearance: none !important;
	border: 1px solid #A0A0A0 !important;
	background-color: #2b2b2b !important;
}
scrollbox, .arrowscrollbox-scrollbox {
	background-color: #2b2b2b !important;
}
#context-navigation {
	background-color: #2b2b2b !important;
}
menu, menuitem, menucaption {
	color: #ededed !important;
	-moz-appearance: none !important;
	padding: 8px 0 !important;
}
.menu-right {
	padding-right: 70px !important;
	filter: invert(100%) !important;
}
menuitem[_moz-menuactive="true"] {
	color: #ededed !important;
	background: #414141 !important;
}
menuseparator {
	-moz-appearance: none !important;
	height: 1px !important;
	background: #808080 !important;
	padding: 0 !important;
	border: none !important;
}*/

menupopup, .panel-subview-body {
	-moz-appearance: none !important;
	padding: 4.5px 2px 4.5px 2px !important;
	background-color: #2B2B2B !important;
	border: 1px #A0A0A0 solid !important;
	min-width: 268px !important;
}
menuseparator, toolbarseparator {
	-moz-appearance: none !important;
	border: none !important;
	padding: .5px 0px .5px 0px !important;
	margin: 2px 8px 2px 8px !important;
	background-color: #808080 !important;
}
menuitem, menu {
	-moz-appearance: none !important;
	color: white !important;
	padding: 4px 0px 4px 0px !important;
}
menuitem[disabled="true"], menuitem[disabled="true"] > .menu-text {
	color: gray !important;
}
menuitem:hover, menu:hover, menu[open="true"], menuitem[_moz-menuactive="true"]	 {
	-moz-appearance: none !important;
	padding: 4px 0px 4px 0px !important;
	background-color: #414141 !important;
}
menugroup {
	padding: 0px !important;
	background-color: transparent !important;
}
menuitem > .menu-text, menuitem > .menu-iconic-text {
	color: white !important;
}
menuitem[type="checkbox"] {
	padding-left: 8px !important;
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}
menuitem[type="radio"] {
	padding-left: 8px !important;
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}
menuitem[type="checkbox"] > .menu-iconic-text, menuitem[type="radio"] > .menu-iconic-text {
	padding-left: 5px !important;
}
menuitem[checked="true"][type="checkbox"] > .menu-iconic-left {
	padding: 7px 0px 0px 0px !important;
	border: solid white;
	border-width: 0 0 2px 2px;
	transform: rotate(-45deg) scale(.75);
	margin-bottom: 4px !important;
}
menuitem[checked="true"][type="radio"] > .menu-iconic-left {
	padding: 1px !important;
	border: solid white;
	height: 17px !important;
	border-radius: 100%;
	background: white;
	transform: scale(.5);
}
menucaption {
	background-color: transparent !important;
	color: white !important;
}
#ContentSelectDropdown > menupopup {
	background-image: none !important;
}
#ContentSelectDropdown {
	padding: 0px !important;
}
menulist {
	-moz-appearance: none !important;
	padding: 4px 4px 4px 4px !important;
	border: 2px solid #666666 !important;
	background-color: transparent !important;
}
menulist:hover {
	padding: 4px 4px 4px 4px !important;
	border: 2px solid #999999 !important;
	background-color: transparent !important;
}
menulist[open="true"]  {
	border: 2px solid #666666 !important;
	background-color: #333333 !important;
}
#context-back > .menu-iconic-left, #context-forward > .menu-iconic-left, #context-reload > .menu-iconic-left, #context-stop > .menu-iconic-left, #context-bookmarkpage > .menu-iconic-left {
	padding: 0px !important;
}
.menu-iconic-left {
	-moz-appearance: none !important;
	padding: 0px 5px 0px 9px !important;
}
.menu-right {
	-moz-appearance: none !important;
	padding: 7.5px !important;
	margin-right: 6px !important;
	color: white !important;
	border: solid white;
	border-width: 0 2px 2px 0px;
	transform: rotate(-45deg) scale(.55);
}
tooltip {
	-moz-appearance: none !important;
	color: white !important;
	background-color: #2B2B2B !important;
	border: 1px solid #767676 !important;
	padding: 6.5px !important;
}
/*touchmode for context menus*/
menupopup[touchmode] menuitem, menupopup[touchmode] menu {
	padding: 8px 0 !important;
}
menupopup[touchmode] menuitem {
	min-width: 76px;
}
menupopup[touchmode] menuseparator, menupopup[touchmode] toolbarseparator{
	margin: 4px 8px 4px 8px !important;
}
menupopup[touchmode] menuitem[type="checkbox"], menupopup[touchmode] menuitem[type="radio"] {
  padding-top: 6.5 !important;
  padding-bottom: 6.5 !important;
}
/*requests and bookmarks fixes*/
.panel-arrowcontent {
	margin: 0 !important;
	margin-top: 6px !important;
	background: #2b2b2b !important;
	border: none !important;
}
#web-notifications-notification {
	background: #2b2b2b !important;
	border: 1px #A0A0A0 solid !important;
}
:root[uidensity="compact"] #BMB_bookmarksPopup {
    margin-top: -2px !important;
}
#BMB_bookmarksPopup, #BMB_bookmarksPopup menupopup {
	padding: 0 !important;
}
.subviewbutton > .menu-right {
	list-style-image: none !important;
}
#BMB_bookmarksPopup menupopup[placespopup="true"] > hbox {
	border: none !important;
  margin: 2px 0px 0px 0px !important;	background: #2B2B2B !important;
	box-shadow: none !important;
}
#placesContext {
	padding: 8px 2px 8px 2px !important;
}
/*----------*/
/*history fixes*/
#PanelUI-history > .panel-subview-body {
    border: none !important;
}
#PanelUI-history {
    border: 1px solid #A0A0A0 !important;
}
/*----------*/
/*downloads panel*/
.downloadsPanelFooterButton {
    background-color: #2b2b2b !important;
    min-height: 36px;
}
.downloadsPanelFooterButton:hover {
    background-color: #414141 !important;
}
/*----------*/
/*panel headers and footers*/
.panel-header {
	background: #2b2b2b;
	border: 1px #A0A0A0 solid;
	border-bottom: none;
}
/*.panel-header > .subviewbutton-back {
	border: solid white;
	border-width: 0 0px 4px 4px;
	transform: rotate(45deg) scale(0.25);
	list-style-image: none !important;
}*/
.cui-widget-panelview menuitem.subviewbutton.panel-subview-footer {
    margin: 4px 8px 0px;
    border: none;
}
.subviewbutton.panel-subview-footer {
    min-height: 24px !important;
    margin: 4px 0 5px 0 !important;
    background-color: #2b2b2b !important;
}
.subviewbutton.panel-subview-footer:hover {
    background-color: #414141 !important;
}
.subviewbutton > .menu-accel-container > .menu-iconic-accel, .subviewbutton > .menu-accel-container > .menu-accel {
    margin-inline-end: 1.35em !important;
}
.subviewbutton.panel-subview-footer > .menu-text {
    padding-inline-start: 34px !important;
}
/*----------*/
panel, #BMB_bookmarksPopup[side][animate="open"] {
	transition: none !important;
}
.panel-arrow[side="top"] {
    list-style-image: none !important;
}
#downloadsPanel, #widget-overflow, #appMenu-popup, #customizationui-widget-panel {
    margin-top: 0px;
}
panelview {
    background: #2b2b2b !important;
}
#identity-popup-mainView, #identity-popup-securityView, #downloadsPanel-mainView {
    border: 1px solid #a0a0a0 !important;
}
#identity-popup-securityView > .panel-header {
    border: none;
    border-bottom: 1px solid #a0a0a0;
}
/*bottom browserbox*/
#browser-bottombox {
	background: #303030 !important;
}
notification {
	background: none !important;
}
.messageImage {
	filter: invert(100%);
}
notification {
	color: #e0e0e0 !important;
}
/*----------*/
/*urlbar dropdwon*/
#PopupAutoCompleteRichResult, #PopupSearchAutoComplete {
    background: #111 !important;
    border-color: #111 !important;
}
.search-one-offs {
    background: #000 !important;
}
/*----------*/
/*tracking protection switch*/
#appMenu-tp-toggle {
  min-width: 44px !important;
}
#appMenu-tp-toggle[enabled="true"]::before {
  margin-left: 16px;
}
#appMenu-tp-toggle[enabled="false"]::before {
  margin-left: 2px;
}
/*----------*/




toolbar .toolbarbutton-1 > .toolbarbutton-badge-stack {
    border-radius: 0 !important;
    padding: 12px !important;
}
toolbar .toolbarbutton-1 > .toolbarbutton-icon {
    border-radius: 0 !important;
	  padding: 12px !important;
    height: 40px !important;
    width: 40px !important;
}
toolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-badge-stack, toolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon {
	background-color: rgba(255, 255, 255, 0.14) !important;
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 11px !important;
}
.toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :active) > .toolbarbutton-badge-stack, toolbar .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :active) > .toolbarbutton-icon {
	box-shadow: inset 0px -2px 0px 0px #0091FF;
	transition: box-shadow 0.01s linear 0.1s;
	background-color: rgba(255, 255, 255, 0.24) !important;
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 11px !important;
}
#TabsToolbar .tabs-newtab-button > .toolbarbutton-icon, #new-tab-button > .toolbarbutton-icon, #alltabs-button > .toolbarbutton-icon {
    padding: 10px !important;
    height: calc(2 * var(--toolbarbutton-inner-padding) + 20px) !important;
    width: calc(2 * var(--toolbarbutton-inner-padding) + 20px) !important;
}
#TabsToolbar .tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon, #new-tab-button:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon, #alltabs-button:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon {
	padding: 9px !important;
}
#TabsToolbar .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :active) > .toolbarbutton-icon, #new-tab-button .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :active) > .toolbarbutton-icon, #alltabs-button .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :active) > .toolbarbutton-icon {
	box-shadow: none;
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 9px !important;
}


/*standard buttons*/
.tracking-protection-button {
	-moz-appearance: none !important;
	padding: 0px 20px !important;
	background: #333333 !important;
	border: 2px #9b9b9b solid !important;
	color: white !important;
}
.tracking-protection-button:hover {
	background: #545454 !important;
}
.tracking-protection-button:active {
	background: #666666 !important;
}
.tracking-protection-button:focus {
	border: 2px solid #ffffff !important;
}

/*remove reload/stop button animation*/
.toolbarbutton-animatable-box > .toolbarbutton-animatable-image {
  animation-iteration-count: 0;
}
#reload-button > .toolbarbutton-animatable-box, #stop-button > .toolbarbutton-animatable-box {
    margin-inline-start: calc((16px + 2 * var(--toolbarbutton-inner-padding) - 2px) / 2);
}
/*----------*/

/* Copyright (c) 2017 Haggai Nuchi
Available for use under the MIT License:
https://opensource.org/licenses/MIT
*/

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

toolbarbutton#alltabs-button {
    -moz-binding: url("userChrome.xml#js");
}
